Repository capsulajs/capsulahub-extensions, pull requests merged in 2019-06, with the labels that each got.

#27 [ Feature ] Enable deploy on CI
  .gitignore
  .travis.yml
  package.json
  packages/canvas/package.json
  packages/configuration/package.json
  packages/configuration/readme.md
  packages/logger/package.json
  packages/request-form/cypress/integration/request-form.test.js
  packages/request-form/package.json
  scripts/deploy.sh
  scripts/gh.sh
  yarn.lock
Labels: enhancement

#40 [TC] Modal extension
  packages/modal/cypress/features/modal.feature
Labels: Test cases

#39 [API] Environment Selection Component
  packages/environment-selection-component/package.json
  packages/environment-selection-component/src/api/Environment.ts
  packages/environment-selection-component/src/api/EnvironmentSelectionProps.ts
  packages/environment-selection-component/src/api/OnConnect.ts
  packages/environment-selection-component/src/api/OnDisconnect.ts
  packages/environment-selection-component/src/api/OnSelect.ts
  packages/environment-selection-component/src/api/index.ts
Labels: API Proposal

#41 [TC] Create Environment registry extension for CapsulaHub
  packages/environment-registry/tests/features/bootstrap.feature
Labels: Test cases

#46 [TC] Create Selector service extension for CapsulaHub
  packages/selector-service/tests/features/bootstrap.feature
Labels: Test cases
